@keyframes spawn{
    from{border-radius: 15px;}
    to{border-radius: 5px;}
}
@keyframes word-area-focus{
    from{
        border-radius: 5px;
    }
    to{
        border-radius: 15px;
    }
}
